p{
  color: rgb(255, 255, 255);
  font-size: 50px;
  line-height: 2  ;
  letter-spacing: 1px;

}
body{
  background-color: rgb(116, 7, 7);
  text-align: center;
}
#titulo{
  text-align: center;
  font-size: 70px;
  color: aliceblue;
}
h2{
  font-size: 50px;
  color: rgb(255, 255, 255);
}
ul{
  font-size: 40px;
  list-style: none;
  color: aliceblue;
}
#civic{
  width: 600px;
}
html {font-size: 10px; /* px significa "pixels": o tamanho da fonte base é agora de 10 pixels */
  font-family: "Open Sans", sans-serif; /* este deve ser o nome da fonte que você obteve no Google Fonts */
}
